.App {
    --error-color: #e83030;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.App.dark {
    --main-color: #281d01;
    --counter-bg: #3a321f;
    --counter-border-color: #eae5d9;
    --counter-text-color: #eae5d9;
    --display-counter-bg: #3a321f;
    --active-btn-color-bg: #a29a88
}

.App.white {
    --main-color: #eae5d9;
    --counter-bg: #bdac80;
    --counter-border-color: #281d01;
    --counter-text-color: #281d01;
    --display-counter-bg: #bdac80;
    --active-btn-color-bg: #b0a486
}

.dark {
    background-color: var(--main-color);
    transition: 0.5s background-color linear;
}
.white {
    background-color: var(--main-color);
    transition: 0.5s background-color linear;
}